a {

  &,
  &:visited {
    text-decoration: none;
    transition: all var(--transition-fast) ease;
    color: var(--color-black);
  }

  &:focus,
  &:hover {
    color: var(--color-black);
    text-decoration: underline;
  }

}
