.header {
  padding: 40px;
  display: flex;
  background: var(--stampa-theme-blue);
  color: var(--stampa-theme-hero-text);
  align-items: center;

  .admin-bar & {
    top: 20px;
  }

  .menu-menu-container {
    align-self: flex-end;
  }

  .menu {
    list-style-type: none;
    display: flex;
  }

  li {
    margin: 0 10px;
  }

  &__logo {
    flex-grow: 1;
  }
}
