body {
  padding: 0;
  margin: 0;
}

#container {
  background-color: var(--color-black);
  max-width: 1440px;
  display: flex;
  min-height: 100vh;
}

#main {
  background: var(--color-white);
  flex-grow: 1;
}
