.main-sidebar {
  &__logo {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
  }

  &__me {
    width: 90%;
    max-width: 192px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 30px;
  }

  &__tagline {
    font-size: 18px;
  }
}
