:root {
  --color-black: #2e343b;
  --color-white: #fff;
  --color-shadow: #939393;
  --color-orange: #d43900;
  --color-light-orange: #f9690e;
  --color-sidebar-link: #91a6ba;

  --transition-fast: 0.2s;
}
