/**
 * Base element resets.
 */

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;  
  }
}

html {
  font-size: 100%;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  position: relative;
  text-align: left;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
