/**
 * Media elements resets.
 */

img {
  height: auto;
  display: block;
  max-width: 100%;
}

svg {
  display: inline-block;
  width: auto;
  height: auto;
  fill: currentColor;
}

figure {
  display: block;
  padding: 0;
  margin: 0;
}
