node_modules
assets/dist

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two
.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

.sass-cache
composer.lock
testing
Archive
auth.json
vendor
.env
./style.css
./style.min.css
./style.min.css.map
./style.css.map
.vuepress/dist/
