.stampa-field--icon-button {
  .flex {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 100%;

    &--row {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }
  }

  .image {
    width: 32px;
  }
}
