.stampa-field {
  input,
  textarea {
    background: transparent;
    height: 100%;
    border-radius: 0;
    border: 1px solid var(--stampa-editor-border-color);

    &:hover {
      border-color: rgb(78, 80, 83);
    }
  }

  &--textarea {
    * {
      height: 100%;
    }
  }
}
