/**
 * Theme container.
 * Similar to bootstrap, but without the bulk and BEM freindly :)
 */

.container {
  width: 90%;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--container-width);

  &--static {
    position: static;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      flex-grow: 1;
    }
  }
}
