/**
 * Media elements helper classes.
 */

.video-wrapper {
  @mixin ratio 16, 9;
  
  > * {
    @mixin absolute;
  }
}

.object-fit {
  display: block;

  .object-fit-parent & {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
}

.object-fit-parent {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
