:root {
  --stampa-editor-border-color: rgb(141, 150, 160, 0.2);
  --stampa-editor-stampa-active-hover: rgba(202, 74, 41, 0.1);
  --stampa-editor-stampa-active: #007acc;
  --stampa-editor-border-color-full: rgb(141, 150, 160, 1);
}

.stampa-field input,
  .stampa-field textarea {
    background: transparent;
    height: 100%;
    border-radius: 0;
    border: 1px solid var(--stampa-editor-border-color)
  }

  .stampa-field input:hover, .stampa-field textarea:hover {
      border-color: rgb(78, 80, 83);
    }

  .stampa-field--textarea * {
      height: 100%;
    }
.stampa-field .stampa-media-upload {
    height: 100%;
  }
  .stampa-field img {
    display: block;
  }
  .stampa-field--image {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--stampa-editor-border-color)
  }
  .stampa-field--image.wireframe {
      background: -webkit-gradient(linear,
          left bottom, right top,
          color-stop(49.9%, transparent),
          color-stop(49.9%, gray),
          color-stop(50.1%, gray),
          color-stop(50.1%, transparent)),
        -webkit-gradient(linear,
          left top, right bottom,
          color-stop(49.9%, transparent),
          color-stop(49.9%, gray),
          color-stop(50.1%, gray),
          color-stop(50.1%, transparent));
      background: -webkit-linear-gradient(bottom left,
          transparent 49.9%,
          gray 49.9%,
          gray 50.1%,
          transparent 50.1%),
        -webkit-linear-gradient(top left,
          transparent 49.9%,
          gray 49.9%,
          gray 50.1%,
          transparent 50.1%);
      background: linear-gradient(to top right,
          transparent 49.9%,
          gray 49.9%,
          gray 50.1%,
          transparent 50.1%),
        linear-gradient(to bottom right,
          transparent 49.9%,
          gray 49.9%,
          gray 50.1%,
          transparent 50.1%);
    }
  .stampa-field--image .image-wireframe {
      box-sizing: border-box;
      width: 80px;
      height: 80px;
      opacity: 0.6;

      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  .stampa-field--image .image {
      border: 1px solid transparent;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
  .stampa-field--image[data-option-round="round"] .stampa-grid__field__content {
        display: -webkit-box;
        display: flex;
        width: 100%;
        height: 100%;
      }
  .stampa-field--image[data-option-round="round"] .image {
        position: relative;
        border: 1px solid var(--stampa-editor-border-color);
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
  .stampa-field--image .stampa-field__image {
      width: 100%;
      height: 100%;
    }
  .stampa-field--image button.add {
        position: absolute;
        left: 0;
        top: 0%;
        opacity: 0;
        height: 100%;
        width: 100%;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
        align-content: center
      }
  .stampa-field--image button.add.round {
          right: 50px;
          top: 10px;
          left: auto;
        }
  .stampa-field--image button.add.round svg {
            width: 16px;
            height: 16px;
          }
  .stampa-field--image button.add svg {
          position: static;
          width: 24px;
          height: 24px;
          display: inline-block;
          vertical-align: middle;
        }
  .stampa-field--image button.add:hover {
          opacity: 0.9;
          box-shadow: 0 0 5px var(--stampa-active);
        }
  .stampa-field--image button.round {
        position: absolute;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        z-index: 1;
        overflow: visible;
        -webkit-transform: all 0.15s ease;
                transform: all 0.15s ease;
        opacity: 0.7;
      }
  .stampa-field--image button.round svg {
          width: 24px;
          height: 24px;
          margin: 0;
          padding: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }
  .stampa-field--image button.round span {
          position: absolute;
          display: block;
          left: 0;
          top: 50%;
          -webkit-transform: translate(calc(-100% - 0px), -50%);
                  transform: translate(calc(-100% - 0px), -50%);
          background: var(--stampa-border);
          box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
          padding: 0 5px;
          opacity: 0;
          pointer-events: none;
          -webkit-transition: all 0.15s ease;
          transition: all 0.15s ease;
          white-space: nowrap;
          width: auto;
        }
  .stampa-field--image button.round:hover {
          opacity: 1;
        }
  .stampa-field--image button.round:hover span {
            -webkit-transform: translate(calc(-100% - 10px), -50%);
                    transform: translate(calc(-100% - 10px), -50%);
            opacity: 1;
          }
  .stampa-field--image button.remove {
        right: 10px;
        top: 10px;
      }
.stampa-field .button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

.stampa-field--icon-button .flex {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 5px 10px;
    height: 100%;
  }

    .stampa-field--icon-button .flex--row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
    }

    .stampa-field--icon-button .flex--column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
    }
  .stampa-field--icon-button .image {
    width: 32px;
  }

.stampa-field--wysiwyg {
    border: 1px solid var(--stampa-editor-border-color);
  }
  .stampa-field .the-html >div {
      padding: 0 32px;
    }
.stampa-field--innerblocks {
    overflow-y: scroll;
  }

.stampa-field--heading h2 {
      margin: 0;
      font-size: inherit;
      color: inherit;
      height: 100%
    }
    .stampa-field--heading h2::before {
        display: none !important;
      }
    .stampa-field--heading textarea {
      font-size: inherit;
      color: inherit;
      text-align: inherit;
    }
    .stampa-block .stampa-field--heading {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
.stampa-field .editor-rich-text,
.stampa-field .editor-rich-text div {
  height: 100%;
}
.object-fit--fill {
    object-fit: fill;
  }
  .object-fit--contain {
    object-fit: contain;
  }
  .object-fit--cover {
    object-fit: cover;
  }
  .object-fit--none {
    object-fit: none;
  }
  .object-fit--scale-down {
    object-fit: scale-down;
  }

.object-position--left-top {
    object-position: left top;
  }

.object-position--left-center {
    object-position: left center;
  }

.object-position--left-bottom {
    object-position: left bottom;
  }

.object-position--center {
    object-position: center center;
  }

.object-position--right-top {
    object-position: right top;
  }

.object-position--right-center {
    object-position: right top;
  }

.object-position--right-bottom {
    object-position: right top;
  }

.wp-block[data-type^='stampa/'] {
  width: 100% !important;
  max-width: none !important;
}

  .wp-block[data-type^='stampa/'] .stampa-field {
    margin: 0;
    padding: 0;
    -webkit-transition: box-shadow 0.15s ease, border 0.15s ease;
    transition: box-shadow 0.15s ease, border 0.15s ease
  }

  .wp-block[data-type^='stampa/'] .stampa-field::before,
    .wp-block[data-type^='stampa/'] .stampa-field::after {
      display: none !important;
    }

  .wp-block[data-type^='stampa/'] .stampa-field.focused {
      border-color: var(--stampa-editor-stampa-active);
    }

  .wp-block[data-type^='stampa/'] .stampa-field:not(.stampa-field--container):hover {
      box-shadow: 0 0 0 2px var(--stampa-editor-stampa-active-hover);
    }

  .wp-block[data-type^='stampa/'] .stampa-field .editor-block-list__layout {
      margin: 0;
      padding: 0;
    }

  .wp-block[data-type^='stampa/'] .stampa-field textarea {
      width: 100%;
      height: 100%;
      font-size: inherit;
      margin: 0;
      padding: 0;
      text-align: inherit;
      font-size: inherit;
      color: inherit;
      background: transparent;
    }

  .wp-block[data-type^='stampa/'] .stampa-field .components-base-control__field {
      margin-bottom: 0;
    }

/*# sourceMappingURL=/stampa-editor.css.map */