/*!
Theme Name: 93digital
Theme URI: http://www.93digital.co.uk
Author: 93digital
Author URI: http://www.93digital.co.uk
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: stella
Tags:

This theme, like WordPress, is licensed under the GPL.

Stella is 93digital's theme framework, based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
*/
