<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinter"
>
	<testsuites>
		<testsuite name="lento">
			<directory prefix="test-" suffix=".php">./tests/phpunit/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
