.grid {
  display: flex;
  background: #f1f1f1;
  padding: 30px;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);

  &__content {
    background: var(--white);
    position: relative;
    width: 100%;
    display: grid;
    align-self: center;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  line {
    stroke: #f1f1f1;
  }

  &__block {
    cursor: move;
  }
}