body.post-type-stampa-block {
  #poststuff #post-body.columns-2 {
    margin-right: 0;
  }

  #post-body.columns-2 #postbox-container-1 {
    display: none;
  }
}

:root {
  --color__dark: #191e23;
  --border: #e2e4e7;
  --hover: #f8f9f9;
  --white: #fff;
  --blue: #0085ba;
}

@import './stampa';
@import './components';
@import './toggle-group';
@import './grid';
@import './number-slider';
@import './tooltip';

.stampa--gray {
  color: var(--border);
}
