:root {
  --stampa-dark: #191e23;
  --stampa-border: #e2e4e7;
  --stampa-hover: #f8f9f9;
  --stampa-white: #fff;
  --stampa-blue: #0085ba;
  --stampa-active: #ca4a1f;
  --stampa-checkbox-border: #6c7781;
  --stampa-red: rgb(255, 218, 218);
}
