.wp-block-embed {
  margin: 0;
}

.wp-block-embed-vimeo,
.wp-block-embed-youtube {}

.wp-block-embed__wrapper {
  position: relative;
  iframe { @mixin absolute; }
  .wp-embed-aspect-4-3 &  { @mixin ratio 4, 3; }  
  .wp-embed-aspect-16-9 & { @mixin ratio 16, 9; }
}
