p {
  /* Has Dropcap */
  &.has-drop-cap:not(:focus)::first-letter {
    font-size: 4em;
    font-weight: normal;
    margin: .1em .1em 0 0;
  }
  /* Has Background */
  &.has-background {
    padding: 2em;
    &.has-drop-cap {
      min-height: 3em;
    }
  }
}
